<mat-card>
    TODO: Create Input Form (Theresa, Ashwini)
    <form id="uploadbanner" enctype="multipart/form-data" method="post" action="#">
   <input id="fileupload" name="myfile" type="file" />
   <input type="submit" value="submit" id="submit" />
</form>
</mat-card>
<mat-card>
    TODO: Create file upload (Anh)
    (see https://github.com/angular/angularfire2/blob/master/docs/storage/storage.md)
</mat-card>
<button mat-raised-button (click)="createTemplate()">Create</button>
<button mat-raised-button (click)="logout()">Logout</button>
<button mat-raised-button (click)="goHome()">Go Home</button>
