<nav class="navbar">
    <ul class="nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create Template</a></li>
        <li>
            <button mat-raised-button (click)="logout()" class="btn btn-primary btn-sm" type="button">Logout with
                github
            </button>
        </li>
    </ul>
</nav>

<div class="container">

    <div class='row'>
        <div class='col-lg-12'>
            <h2 style="font-size: xx-large ;font-weight: bold; color: dodgerblue; font-family: Helvetica; align-content: left">
                Template Name</h2>
        </div>
    </div>
    <div class="row">
        <input [(ngModel)]="templateName" placeholder="My Awesome Template!">
    </div>

    <div class='row'>
        <div class='col-lg-12'>
            <h2 style="font-size: xx-large ;font-weight: bold; color: dodgerblue; font-family: Helvetica; align-content: left">
                Select File</h2>
        </div>
    </div>

    <div *ngIf="currentUpload">
        <div class="progress">
            <div class="progress-bar progress-bar-animated"
                 [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
        </div>
        Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
    </div>

    <form style="color: #f00;" id="uploadbanner" enctype="multipart/form-data" method="post" action="#">
        <div class="input-group">
            <input type="file" (change)="detectFiles($event)"/>
        </div>
    </form>

    <br/>
    <br/>

    <div class='row'>
        <div class='col-lg-10'>
            <h2 style="font-size: xx-large ;font-weight: bold; color: dodgerblue; font-family: Helvetica; align-content: left">
                Template Variables</h2>
        </div>
    </div>

    <div class="row">
        <table class="table col-sm-12">
            <tbody>
            <tr *ngFor="let variable of variableArray; let i = index">
                <td class='col-lg-12'>
                    <input [(ngModel)]="variable.name" class="form-control" style="box-shadow:none" type="text"
                           name="{{variable.name}}"
                           placeholder="Item Name">
                </td>
                <td class='col-lg-1'>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button (click)="deleteVariableValue(i)" class="btn btn-primary btn-sm" type="button">Delete
                            </button>
                        </div>
                    </div>
                </td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" style="text-align: center;">
                    <button class="btn btn-success btn-sm" type="button" (click)="addVariableValue()"
                            style="margin-right:10px">Add Item
                    </button>
                </td>
            </tr>
            </tfoot>
        </table>

        <div class='row'>
            <div class='col-lg-12'>
                <h2 style="font-size: xx-large ;font-weight: bold; color: dodgerblue; font-family: Helvetica; align-content: left">
                    Template Tags</h2>
            </div>
        </div>
        <!--TODO: Replace with variable list logic-->
        <div class="row" *ngFor="let tag of tagArray; let i = index">
            <br/>
            <input placeholder="Tag name">
            <button (click)="deleteTag(i)">Delete</button>
        </div>
        <div>
            <button (click)="onAddTag()">Add Tag</button>
        </div>

        <div class="row">
            <h2>Rendered File Endings</h2>
            <h4>Pick the file endings for files that have template variables in them</h4>
            <br/>
            <input #fileEndings value=".txt, .ts, .java, etc.">
        </div>

    </div>
    <br/>
    <br/>

    <div class="input-group-btn">
        <button
            [disabled]="!selectedFiles"
            (click)="uploadTemplate()"
            class="btn btn-success btn-lg"
            value="Submit">Submit
        </button>
    </div>
</div>
