<mat-toolbar class="mat-elevation-z3">
    <nav class="navbar">
        <ul class="nav navbar-right">
            <li>
                <button mat-button (click)="goHome()">Home</button>
            </li>
            <li>
                <button mat-button (click)="createTemplate()">Create Template</button>
            </li>
            <li>
                <button mat-button (click)="myTemplates()">My Templates</button>
            </li>
            <li>
                <button mat-button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<mat-card class="card-form">
    <p class="title large">Download a Template</p>

    <p class="form-heading center-text">{{(templateDirectoryInfo | async)?.templateName}}</p>
    <p>{{(templateDirectoryInfo | async)?.templateDescription}}</p>
    <p>Creation date: {{(templateDirectoryInfo | async)?.templateCreateDate}}</p>
    <p>Number of downloads: {{(templateDirectoryInfo | async)?.templateNumDownload}}</p>
    <p *ngIf="(templateDirectoryInfo | async)?.templateNumDownload != 0">Last downloaded date: {{(templateDirectoryInfo | async)?.templateLastDownloadDate}}</p>



    <table class="table col-sm-12">
        <tbody>
        <tr *ngFor="let variable of (templateRenderInfo | async)?.variables">
            <td>
                <p class="form-subheading">{{variable.name}}</p>
                <p class="">{{variable.description}}</p>
                <input [(ngModel)]="valueMap[variable.name]" class="form-control"
                       name="{{variable.name}}"
                       placeholder="{{variable.name}}">
            </td>

        </tr>
        </tbody>
    </table>

    <button mat-raised-button color="primary"
            (click)="downloadTemplate()" class="fa fa-download">Download
    </button>
</mat-card>
