<mat-toolbar class="mat-elevation-z3">
    <nav class="navbar">
        <ul class="nav navbar-right">
            <li>
                <button mat-button (click)="goHome()">Home</button>
            </li>
            <li>
                <button mat-button (click)="createTemplate()">Create Template</button>
            </li>
            <li>
                <button mat-button disabled>Download Template</button>
            </li>
            <li>
                <button mat-button (click)="myTemplates()">My Templates</button>
            </li>
            <li>
                <button mat-button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<mat-card class="card-download">
    <h1>Download a Template</h1>

    <h1>{{(templateDirectoryInfo | async)?.templateName}}</h1>
    <!--TODO: Add description-->

    <div>
        <div *ngFor="let variable of (templateRenderInfo | async)?.variables">
            <p>{{variable.name}}</p>
            <p>{{variable.description}}</p>
            <input [(ngModel)]="valueMap[variable.name]" class="form-control"
                   name="{{variable.name}}"
                   placeholder="{{variable.description}}">
        </div>
    </div>

    <button mat-raised-button color="primary"
            (click)="downloadTemplate()">Download
    </button>
</mat-card>
