<mat-toolbar class="mat-elevation-z3">
    <nav class="navbar">
        <ul class="nav navbar-right">
            <li>
                <button mat-button disabled>Home</button>
            </li>
            <li>
                <button mat-button (click)="createTemplate()">Create Template</button>
            </li>
            <li>
                <button mat-button (click)="myTemplates()">My Templates</button>
            </li>
            <li>
                <button mat-button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" [(ngModel)]="searchTerm">
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="doSearch()">Search</button>
    <br>
    <div>
        <br>
        TODO: Sorting, CSS
    </div>
    <div *ngIf="hasSearched && (displayList)?.length == 0">
        No search results found
    </div>
    <div class="row">
        <mat-form-field>
            <mat-select placeholder="Sort by" [(value)]="selected" (selectionChange)="sort(selected)">
                <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngFor="let template of displayList" class="col col-xs-12">
            <mat-card class="template-card">
                <p><b>TODO: Styling, average rating</b></p>
                <p class="template-title">{{template.templateName}}</p>
                <p>by {{template.authorName}}</p>
                <p>{{template.templateDescription}}</p>
                <p>Creation date: {{template.templateCreateDate | date}}</p>
                <p>Number of downloads: {{template.templateNumDownload}}</p>
                <p><b>TODO: Display average rating</b></p>
                <p *ngIf="template.templateLastDownloadDate">Last downloaded date: {{template.templateLastDownloadDate |
                    date}}</p>
                <mat-chip-list>
                    <mat-chip *ngFor="let tag of template.tags">
                        {{tag.name}}
                    </mat-chip>
                </mat-chip-list>
                <br>
                <button mat-raised-button (click)="openTemplate(template.uid)">Download</button>
            </mat-card>
        </div>
    </div>
</div>
