<mat-toolbar class="mat-elevation-z3">
    <nav class="navbar">
        <ul class="nav navbar-right">
            <li>
                <button mat-button (click)="goHome()">Home</button>
            </li>
            <li>
                <button mat-button (click)="createTemplate()">Create Template</button>
            </li>
            <li>
                 <button mat-button disabled>Tutorial</button>
            </li>
            <li>
                <button mat-button (click)="myTemplates()">My Templates</button>
            </li>
            <li>
                <button mat-button (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>
</mat-toolbar>

<html>
<head>

<title>New User Tutorial</title>
</head>
<body>
<h1>Create a Template</h1>

<ol type="1">
  <li>Navigate to the "Create Template" page from the navigation bar at the top of each page</li>
  <img src="assets/img/tutorial/menu.jpg" alt="Menu" width="533" height="44" >
  <li>When creating your template make sure to put curly braces around variable names and zip all relevant files</li>
  <li>Provide a name and description of your template</li>
  <img src="assets/img/tutorial/templateNameAndDescr.png" alt="Menu" width="761" height="105" >
  <li>Select the zip file of the template</li>
  <li>Provide Names and Descriptions of Template Variables</li>
  <img src="assets/img/tutorial/templateVariables.png" alt="Menu" width="765" height="223" >
  <li>Provide Tags</li>
  <img src="assets/img/tutorial/templateTags.png" alt="Menu" width="767" height="193" >
  <li>Provide File Endings</li>
  <img src="assets/img/tutorial/fileEndings.png" alt="Menu" width="760" height="180" >
  <li>Submit template</li>
</ol>

<h1>View Templates</h1>
<ol type="1">
  <li>Navigate to the "My Templates" page from the navigation bar at the top of each page</li>
  <img src="assets/img/tutorial/myTemplatesMenu.png" alt="Menu" width="524" height="50" >
  <li>Your existing templates will be displayed, if there are none you have not created any.</li>
  <img src="assets/img/tutorial/myTemplates.png" alt="Menu" width="624" height="493" >
</ol>

<h1>Download A Template</h1>
<ol type="1">
  <li>Navigate to the "My Templates" page from the navigation bar at the top of each page</li>
  <li>Your existing templates will be displayed, if there are none you have not created any.</li>
  <li>If you wish to download one of your templates, click on download button.</li>
  <img src="assets/img/tutorial/myTemplates.png" alt="Menu" width="624" height="493" >
  <li>Fill in your customizations and download</li>
  <img src="assets/img/tutorial/downloadandrating.png" alt="Menu" width="827" height="483" >
</ol>

<h1>Delete A Template</h1>
<ol type="1">
  <li>Navigate to the "My Templates" page from the navigation bar at the top of each page</li>
  <li>Your existing templates will be displayed, if there are none you have not created any.</li>
  <li>If you wish to delete one of your templates, click on delete button.</li>
   <img src="assets/img/tutorial/myTemplates.png" alt="Menu" width="624" height="493" >
</ol>

<h1>Rate A Template</h1>
<ol type="1">
  <li>Navigate to the "My Templates" page from the navigation bar at the top of each page</li>
  <li>Your existing templates will be displayed, if there are none you have not created any.</li>
  <li>If you wish to rate one of your templates, click on the template.</li>
  <li>Click the stars to rate</li>
  <img src="assets/img/tutorial/downloadandrating.png" alt="Menu" width="827" height="483" >
</ol>

</body>
</html>